{% comment %}
  Footer for lesson pages.
{% endcomment %}
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h5>
      A collaboration between the <a href="https://australian-structural-biology-computing.github.io/index">Australian Structural Biology Computing (ASBC)</a> community, <a href="https://www.biocommons.org.au/">Australian BioCommons</a>, and <a href="http://pawsey.org.au">Pawsey Supercomputing Research Centre</a>
      </h5>
    </div>
    <div class="col-md-6" align="right">
      <h5>
    Adapted from <a href="http://software-carpentry.org">Software Carpentry</a>
    /
	<a href="{{ site.github.repository_url }}/">Github Source</a>
	/
	<a href="mailto:{{ site.email }}">Contact</a>
      </h5>
    </div>
  </div>
</footer>
